{% extends 'base.html' %}
{% block page_title %}
    {{ room.name }}'s Photos
{% endblock page_title %}

{%  block content %}
<div class="container mx-auto w-3/4 my-10 flex flex-col">
    <div class="my-10 w-full">
        <a href="{% url 'room:add-photos' room.pk %}" class="btn w-1/4 block bg-red-400">Upload Photos</a>
    </div>

    {% for photo in room.photos.all %}
        <div class="mb-5 border border-gray-400 flex justify-between">
            <div class="flex items-center">
                <img src="{{ photo.file.url }}" class="w-32 h-32"/>
                <span class="ml-5 text-xl">{{ photo.caption }}</span>
            </div>
        <div class="flex flex-col items-center justify-around">
            <a href="{% url 'room:update-photo' room.pk photo.pk %}" class="btn w-40 mt-2 mb-1 bg-teal-400">Edit</a>
            <a href="{% url 'room:delete-photos' room.pk photo.pk %}" class="btn w-40 mb-2 mt-1 bg-red-500">Delete</a>
        </div>
        </div>
    {% endfor %}
    <div class="flex justify-center">
        <a href="{{ room.get_absolute_url }}edit/" class="text-teal-500 font-semibold mt-5">Back to room</a>
    </div>
</div>
{%  endblock content %}