{% extends 'base.html' %}
{% load sexy_capitals %}

{%  block page_title %}
    {{ room.name }}
{% endblock %}

{%  block content %}
    <div class="container max-w-full h-75vh mb-20 flex">
        <div class="photo h-full w-1/2 bg-cover" style="background-image: url({{ room.first_photo }})"></div>
        <div class="h-full w-1/2 flex flex-wrap">
            {% for photo in room.get_next_four_photo %}
            <div class="photo h-auto w-1/2 bg-cover bg-center" style="background-image: url({{ photo.file.url }})"></div>
            {% endfor %}
        </div>
    </div>
    <div class="container mx-auto flex justify-center pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div class="mb-5">
                    <h2 class="text-2xl mb-px">{{ room.name }}</h2>
                    <span class="text-gray-700 font-light">{{ room.city }}</span>
                </div>
                <a href="{{ room.host.get_absolute_url }}" class="flex flex-col items-center">
                    {% include 'mixin/user_avatar.html' with user=room.host %}
                    <span class="mt-2 text-gray-700"> {{ room.host.first_name }}</span>
                </a>
            </div>
            <div class="flex border-section">
                <span class="mr-5 font-light">{{ room.room_type }}</span>
                <span class="mr-5 font-light">{{ room.beds }} bed{{ room.beds|pluralize }}</span>
                <span class="mr-5 font-light">{{ room.bedrooms }} bedroom{{ room.bedrooms|pluralize }}</span>
                <span class="mr-5 font-light">{{ room.baths }} bath{{ room.baths|pluralize }}</span>
                <span class="mr-5 font-light">{{ room.guests }} guest{{ room.guests|pluralize }}</span>
            </div>
            <p class="border-section">
                {{ room.description }}
            </p>
            <div class="border-section">
                <h4 class="font-medium text-lg mb-5">Amenities</h4>
                {% for a in room.amenity.all %}
                    <li class="mb-2">{{ a }}</li>
                {% endfor %}
            </div>
            <div class="border-section">
                <h4 class="font-medium text-lg mb-5">Facility</h4>
                {% for f in room.facility.all %}
                    <li class="mb-2">{{ f }}</li>
                {% endfor %}
            </div>
            <div class="border-section">
                <h4 class="font-medium text-lg mb-5">House Rules</h4>
                {% for r in room.house_rule.all %}
                    <li class="mb-2">{{ r }}</li>
                {% endfor %}
            </div>
            <div class="">
                <h4 class="font-medium text-lg mb-5">Reviews</h4>
                <div class="flex items-center mb-10">
                    <div class="mr-5">
                        <span class="border-r border-gray-500 pr-5 mr-3 font-bold"><i class="fas fa-star text-teal-500 mr-2"></i>{{ room.rating }}</span>
                        <span class="font-bold">{{ room.reviews.count }}</span>
                        <span>review{{ room.reviews.count|pluralize }}</span>
                    </div>
                </div>
                <div>

                </div>
                {% for review in room.reviews.all %}
                <div class="flex items-center">
                    <div class="flex items-center">
                        <div class="mr-3">{% include 'mixin/user_avatar.html' with user=review.user w_and_h='w-8 h-8' %}</div>
                    </div>
                    <div class="flex flex-col justify-center">
                        <span class="font-medium">{{ review.user.first_name }}</span>
                        <span class="text-sm text-gray-500">{{ review.created|date:'Y년 n월' }}</span>
                    </div>
                </div>
                    <p class="border-section mt-4">{{ review.review }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="w-1/3 ml-10">
            {% if room.host == user %}
            <a href="{% url 'room:edit' room.pk %}" class="btn block bg-red-400">Edit Room</a>
            {% else %}
                {% if not request.session.is_hosting %}
                    <div class="calender">
                        {% for calendar in room.get_calendars %}
                        <div class="mb-20 flex flex-col justify-center items-center">
                            <span class="text-center text-lg block mb-8 font-bold">{{ calendar.get_month|s }} / {{ calendar.year }}</span>

                            <div class="cal-grid mb-4">
                                {% for day in calendar.day_name %}
                                <span class="font-semibold">{{ day }}</span>
                                {% endfor %}
                            </div>
                            <div class="cal-grid mb-4">
                                {% for day in calendar.get_days %}
                                    <span {% if day.number %}
                                        class="{% if day.past %} is_past {% endif %}day_number hover:text-white hover:bg-teal-600 "
                                    {% endif %} >{{ day.number }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
